/* MAIN UI FRAME */

#oosh-cc-frame {
    width: 15%;
    min-width: 300px;
    max-width: min-content;
    z-index: 11501;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    top: 131px;
    right: 20%;
    position: absolute;
    padding: 8px;
    border: 2px solid darkblue;
    display: grid;
    grid-template-rows: 48px auto;
    height:600px;
    resize: both;
    overflow: hidden;
}
#oosh-cc-body {
    height: 95%;
    min-height:95%;
    display: grid;
    grid-template-rows: min-content min-content min-content auto;
}
#oosh-cc-header {
    padding: 10px;
    cursor: move;
    background-color: darkblue;
    color: white;
}
#oosh-cc-header-title {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    display: inline-block;
}
#oosh-cc-minimise {
    position:relative;
    float:right;
    color: darkblue;
    line-height:20px;
    padding: 2px 5px 2px 5px;
}
#oosh-cc-header-title-droppable {
    display: none;
}

.oosh-cc hr {
    margin: 9px;
}
/* HIDE CONTROL SECTION IF NOT GM */
#oosh-cc-frame [data-isgm-display="false"] {
    display: none;
}
#oosh-cc-frame [data-isgm-visibility="false"] {
    visibility: hidden;
}


.oosh-cc select{
    border: 2px darkblue solid;
    color: darkblue;    
}

#oosh-cc-current-compendium {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center
}
#oosh-cc-current-compendium label {
    white-space: break-spaces;
    line-height:150%;
}
#oosh-cc-select-data {
    margin-bottom: 5px;
    width: 90%
}
#oosh-cc-frame #oosh-cc-current-compendium-controls {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
#oosh-cc-current-compendium-controls select {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}
#oosh-cc-current-compendium-controls button {
    width: 75%;
}
#oosh-cc-current-compendium-controls button:nth-child(odd) {
    justify-self: right;
}
.oosh-cc.toolbar.button i {
    margin-right: 10%;
}

.oosh-cc.label {
    color: darkblue;    
    font-size:13px;
}

.oosh-cc.data-select {
    width:60%;
    justify-self:right
}

#oosh-cc-import-export {
    display:grid;
    grid-template-columns: 25% 75%;
    grid-column-gap:5px;
    grid-row-gap: 5px;
    align-items:center;
}

#oosh-cc-import-export span {
    font-style:italic;
    font-size: 13px;
}

.oosh-cc.button.toolbar {
    color:darkblue;
    border:darkblue 2px solid;
    border-radius:3px;
    font-weight: bold;
}
.oosh-cc.toolbar.input {
    margin: auto;
    padding-top:1px;
    padding-bottom:1px;
}

/* CATEGORY, SUBCATEGORY SELECT, SHEET THIEF SLIDER*/
.oosh-cc.categories {
    display:grid;
    grid-template-columns: 45% 35% 20%;
    align-items: center;
    justify-items:center;
    margin: -3% 1% 1% -1%;
}
.oosh-cc.categories .data-select {
    width:90%;
    justify-self:center;
}
#oosh-cc-frame .oosh-cc.categories span {
    white-space: pre-wrap;
}
.oosh-cc.categories .slider {
    text-align:right;
    justify-self:right;
    margin-left: 0px;
    transform: scale(0.9);
}
#oosh-cc-thief-mode:checked + .slider {
    background-color:#00ace6;
}

#oosh-cc-search-bar {
    margin-left: 2%;
    margin-bottom: 1%;
    width: 80%;
}
.oosh-cc.search {
    text-align: center;
}
.oosh-cc.search-clear {
    display:inline;
    color:lightgrey;
    position:relative;
}


/* START Compendium data table  */
/* table header */

#oosh-cc-data {
    overflow-y: auto;
    margin-bottom: 0px;
    height: 100%;
    margin-top: 2%;
}
.oosh-cc.table-head {
    color:white;
    background-color: darkblue;
    font-size:17px;
    font-weight: bold;
    height: 40px;
    display:grid;
}
.oosh-cc.table-head .table-row {
    margin: 0px 0px 0px 0px;
}
.oosh-cc.header-left {
    display:grid;
    grid-template-columns: 80% 20%;
    margin: 0px 0px 0px 8px;
}
.oosh-cc.header-right {
    justify-self: right;
    margin: 0px 8px 0px 0px;
}
.oosh-cc.table-row {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    margin: 3px 5px 3px 5px;
    position:relative;
}
.oosh-cc.table-row[data-isgm="false"] {
    grid-template-columns: 96% 0%;
}
.oosh-cc.table-row-itemname {
	overflow:hidden;
}
.oosh-cc.table-row-itemname span:nth-child(2) {
    background: #c7d9ee;
    background-clip: border-box;
    padding: 9% 20% 9% 10%;
    margin: -9% -22% -9% -10%;
}
#oosh-cc-data .header-left div {
    color: #74a19b;
    justify-self: right;
    margin: 0% 35% 0% 0%;
}
#oosh-cc-data .header-left div i {
    border: 2px solid;
    padding: 3px;
    border-radius: 4px;
    margin-right: -15px;
}
.oosh-cc-add-collection {
    color: #3e3d3d;
    margin: 0 0 0 auto;
    display:block;    
}
.oosh-cc.table-row-controls {
    justify-self: right;
}

/* table subcategory divider */
.oosh-cc.subcategory-header {
    background-color: #aebaf3;
    border: 1px darkblue solid;
    text-transform: uppercase;
    font-size:12px;

}
.oosh-cc.subcategory-header span {
    padding-left: 8px;
	line-height: 2%; 
    font-weight: bold;
}

/* Main Compendium item name & draggable */
#oosh-cc-data .compendium-item.ui-draggable {
	line-height: 80%;
    width: 100%;
}
#oosh-cc-data .compendium-item.ui-draggable div {
    display:grid;
    grid-template-columns: 70% 30%;
    color:darkblue;;
    background-color: #c7d9ee;
    border: 2px solid darkblue;
    border-radius:3px;
    padding: 3px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
}
/* CC-ITEM FLAG ICONS */
#oosh-cc-data .compendium-item.ui-draggable-dragging div {
    border:none;
	background-color:lightgray;
}
#oosh-cc-data .compendium-item.ui-draggable div span {
    white-space: nowrap;
}
#oosh-cc-data .compendium-item.ui-draggable div span:nth-child(2) {
    justify-self: right;
    color:#49494c;
    transform: scale(0.7);
}
#oosh-cc-data .compendium-item.ui-draggable-dragging {
    display:block;
    z-index:100000;
    padding:3px;
    background:lightgray;
    width: min-content;
    border: 1px black solid;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.9;
}
.oosh-cc-reverse-draggable {
	pointer-events: none;
	color: blue;
}

/* ermmm... not sure???? *//*
.oosh-cc .itemname {
    border: 1px solid black;
    color: black;
    background-color: lightgray;
    padding:3px;
    border-radius: 4px;
    width: 90%;
}*/

/* tooltips */
.oosh-cc.table-row .oosh-cc-item div, .oosh-cc.table-row .oosh-cc-collection div {
    position: relative;
}
.oosh-cc-tooltip {
    position: absolute;
    visibility: hidden;
    background-color:black;
    opacity:0.9;
    border-radius:8px;
    padding:4px;
    color: gold;
    border: 3px solid #c2a400;
    font-weight: normal;
    font-style: normal;
    line-height: 1.1em;
    font-size: 1em;
    z-index: 16000;
}
.table-row .oosh-cc-tooltip {
    max-width: 55%;
    bottom: 70%;
    right: 2%;
    white-space: normal;
}
.oosh-cc.options {
    position: relative;
}
.oosh-cc-tooltip.tt-flag-key {
    width: auto;
    position: absolute;
    top: -20%;
    height: min-content;
    left: 22%;
}

/* modal popups */
.fas.fa-ban {
    color:red;
}
.far.fa-check-circle {
    color:green;
}

.occ-modal.dialog-outer {
   display: block;
   z-index:20000;
   width:300px;
   height:auto;
   position:relative;
   background-color:white;
    border: 3px solid darkblue;
}

.occ-modal.dialog-header {
    background-color:#8db6d0;
    height:35px;
    display:grid;
    grid-template-columns: auto auto;
    align-items:center;
    border-bottom: 2px darkblue solid;
}
.occ-modal.dialog-header-text {
	font-size: 20px;
	white-space:nowrap;
	overflow:hidden;
   margin-left:8px;
}
.occ-modal.dialog-header-close {
   justify-self:right;
}
.occ-modal.dialog-header-close button {
    border:none;
    background-color:#8db6d0;
   font-size:28px;
   padding:0px 3px 0px 0px;
   color:#3e3d3d;
}
.occ-modal.dialog-header-close button:hover {
   color:#5d8599;
}

.occ-modal.dialog-body {
   font-size:16px;
   margin: 10px;
   height: min-content;;
}
.occ-modal hr {
    margin: auto;    
}

.occ-modal.dialog-buttons {
    background: #4c91bb;
    grid-row-start: 3;
    position: relative;
    height: auto;
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items:center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border-top: 2px darkblue solid;
}
.occ-modal.dialog-buttons button {
   font-size: 16px;
   transform: scale(1.2);
    margin: 0px 0px 0px 0px;
}

/* MODAL POPUP - EDIT CC ITEM */
.occ-modal.edit-item.dialog-outer, .occ-modal.drop-collection.dialog-outer {
	min-width:700px;
	resize: both;
    overflow: hidden;
	position: absolute;
    display: grid;
    grid-template-rows: 30px 1fr 80px;
    height: min-content;
    min-height: 40vh;
    max-height: 70vh;
}
.occ-modal.edit-item .dialog-header {
    cursor: move;
}
.occ-modal.edit-item hr {
    margin: 10px;
}
.occ-modal .edit-path {
    font-style: italic;
    color: darkblue;  
}
.occ-modal.edit-item .dialog-body, .occ-modal.drop-collection .dialog-body  {
    position: relative;
    min-height:100%;
    display:grid;
    height:100%;
    grid-template-rows: auto auto auto auto auto;
}
/* Main Attributes, top section of Edit Dialog - changed to Grid layout */
.occ-modal .dialog-body .edit-main-attributes {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    align-items: center;
    grid-template-rows: 33% 34% 33%;
}
.edit-main-attributes div:nth-child(odd) {
    justify-self: right;
}
.edit-main-attributes div:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
}
.edit-main-attributes textarea {
    resize: vertical;
    width: 100%;
    height: auto;
}
.edit-headings, .edit-collections-headings {
    display: grid;
    grid-template-columns: 40% 35% 25%;
    font-weight: bold;
    color: darkblue;    
}
.occ-modal.edit-other-attributes {
	overflow-y: auto;
}
.edit-other-attributes .edit-attribute {
	display: grid;
	grid-template-columns: 40% 35% 25%;
	overflow-x: hidden;
}
.edit-other-attributes span {
    white-space: nowrap;
}
.edit-other-attributes textarea {
	width: auto;
	resize: vertical;
    max-height:200px;
    margin-right: 4px;
}
.occ-modal.edit-item .dialog-buttons, .occ-modal.drop-collection .dialog-buttons {
    background: #4c91bb;
    margin-bottom:0px;
    grid-row-start: 3;
    position: relative;
}

/* MODAL POPUP - EDIT CC COLLECTION */
.occ-modal.edit-collection-main, .occ-modal.drop-collection-main {
	margin: 5px 10px 0px 10px;
	padding: 5px;
	overflow-y: auto;
}
.occ-modal.edit-collections-headings {
	grid-template-columns: 15% 70% 15%;
	margin: 0px 12px 0px 12px;
	justify-items: center;
	align-items: center;
}
.occ-modal.edit-collection-tier, .occ-modal.collection-tier {
	display: grid;
	grid-template-columns: 15% auto;
	border: 1px solid grey;
	margin-bottom: 5px;
	padding: 2px;
	border-radius: 1em;
}
.occ-modal.edit-collection-label {
	background-color: #9ed3e5;
	border-radius: 1em 0 0 1em;
	padding: 0px;
	width: 100%;
	text-align: center;
    display:table;
}
.occ-modal.edit-collection-label span, .occ-modal.collection-tier-label span {
	display:table-cell;
	vertical-align:middle;
}
.occ-modal.edit-collection-linkeditems, .occ-modal.collection-tier-links {
	margin-left: 5px
}
.occ-modal.edit-collection-item {
	display: grid;
	grid-template-columns: 80% 20%;
	align-items:center;
	margin: 0px -5px 0px 5px;
}
.occ-modal.edit-collection-details span:first-child, .occ-modal.collection-item span:first-child {
	font-variant: small-caps;
	border: 1px solid black;
	padding: 1px 4px 1px 4px;
	color: darkblue;
	background-color:lightgrey;
	border-radius: 5px;
	margin-right:5px;
}
.occ-modal.edit-collection-details span:nth-child(2), .occ-modal.collection-item span:nth-child(2) {
	font-style: italic;
	font-weight: bold;
}
.occ-modal .oosh-cc.switch {
    display: grid;
    justify-items: center;
    margin: 5px 0px 5px 0px;
}
.occ-modal .oosh-cc.switch label {
    display: block;
    top: -12px;
    position: absolute;
}
.occ-modal .oosh-cc.switch span {
    bottom: -8px;
    top: 8px;
}
/* CC COLLECTION DROPPABLE MODE */
.edit-collection-linkeditems.ui-droppable {
	border: dashed 2px blue;
	border-radius: 0em 1em 1em 0em;
	margin: -2px -2px -2px 0px;
}
.edit-collection-linkeditems.ui-droppable div div {
	opacity: 0.3;
	pointer-events: none;
}
/*.occ-modal .edit-collection-main::before {
	content: 'Accepting Drops';
	position: absolute;
	color: blue;
	left: 44%;
    top: 46%
}*/
.edit-collection-linkeditems.ui-droppable-hover {
	background-color: #bdc4ff;
}

/* MINIMISE BUTTON AND CANVAS ICON */
.oosh-cc.minimised-icon {
    position: absolute;
    top: 0px;
    right: 444px;
    font-size: 22px;
    line-height: 28px;
    height: 28px;
    width: 28px;
    background: white;
    color: darkblue;
    border: darkblue 1px solid;
    border-radius: 2px;
    padding: 2px 3px 2px 3px;
    z-index: 11;
    text-align: center;
}
.oosh-cc.minimised-icon[data-vttes="true"] {
    right: 428px;
}
.minimised-icon i {
    border: darkblue 3px solid;
    border-radius: 22px;
}

/* DROP COLLECTION DIALOG */
.occ-modal.collection-title span:nth-child(1) {
    display:block;
    font-size:25px;
    color:darkblue;
    font-weight:bold;
}
.occ-modal.collection-title span:nth-child(2) {
    font-style: italic;
}
.occ-modal.drop-collections-headings {
    display:grid;
	grid-template-columns: 10% 80%;
	margin: 0px 25px 0px 25px;
	justify-items: center;
	align-items: center;
}
.occ-modal.collection-tier-label {
	background-color: #9ed3e5;
	border-radius: 1em 0 0 1em;
	padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}
.occ-modal.collection-tier-label input {
    transform: scale(1.3);
}
.occ-modal.collection-item {
	display: grid;
	grid-template-columns: 20% 80%;
	align-items:center;
	margin: 0px -5px 2px 5px;
}
